:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary: #333;
    --secondary: #f4b400;
    --font-primary: 'Quicksand', sans-serif;
    --font-secondary: 'Orbitron', sans-serif;
    --font-tertiary: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-tertiary);
    background-color: var(--white);
    color: var(--black);
    line-height: 1.6;
}

.inactive {
    display: none;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 10px 50px;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header ul li {
    margin: 0 15px;
    font-weight: bold;
}

header ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
}

header ul li a:hover {
    color: var(--secondary);
}

header .image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/* Hero */
#hero {
    position: relative;
    text-align: center;
    margin-bottom: 150px;
}

#hero .image-container img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

#hero .informacion-contenedor {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 12px;
    width: 10%;
    width: 500px;
}

#hero .informacion h1 {
    font-size: 24px;
}

#hero .informacion span {
    display: block;
    font-size: 18px;
    margin: 10px 0;
}

#hero .informacion p {
    font-size: 16px;
}

/* Main */
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background: #f9f9f9;
}

.tech-list-container h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}

.social-icons li {
    margin: 0 15px;
}

.social-icons li img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-icons li img:hover {
    transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 1024px) {

    /* Tablet */
    header {
        flex-direction: column;
        text-align: center;
        padding: 15px 20px;
    }

    header ul {
        margin-top: 10px;
    }

    #hero .informacion-contenedor {
        width: 40%;
        padding: 15px;
        margin-top: 32px;
    }

    main {
        margin-top: 180px;
        width: 90%;
    }
}

@media (max-width: 600px) {

    /* Celular */
    header {
        padding: 10px 20px;
    }

    header .image-container img {
        width: 80px;
        height: 80px;
    }

    header ul {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    #hero .informacion-contenedor {
        width: 80%;
        top: 56%;
        padding: 10px;
        margin-top: 50px;
    }

    #hero .informacion h1 {
        font-size: 16px;
    }

    #hero .informacion p {
        font-size: 14px;
    }

    #hero .informacion span {
        font-size: 16px;
    }

    #hero .image-container img {
        height: 252px;
    }

    main {
        margin-top: 140px;
        width: 90%;
    }

    .social-icons li img {
        width: 30px;
        height: 30px;
    }
}