:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-fied:#f7f7f7;
    --hospital-green: #acd9b2;
    --sm:14px;
    --md:16px;
    --lg:18px;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}
/* aqui hay estilos generales */
.image-container{
    display: flex;
    
}

.image-container img {
    width: 100%;
    border-bottom: 4px solid rgb(202, 143, 14);
}

/* estilos del header */
header{
    display: flex;
    background: white;
    padding: 10px 50px;
    border-bottom: 4px solid rgb(202, 143, 14);
}
header ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    width: 100%;
}
header ul li{
    margin-left: auto;
}
header ul li:hover{
    cursor: pointer;
    width: auto;
    border: 1px solid rgb(132, 100, 20);
    border-radius: 20px;
    color: rgb(215, 155, 1);
    padding: 8px;
}
#logo{
    width: 100px;
    height: 100px;
}

#logo img{
    border-radius: 100%;
    border: 3px solid rgb(139, 96, 3);
}
#logo img:hover{
    cursor: pointer;
}
/* estilos del hero */
#hero{
    position: relative;
}

#hero #fondo{
    display: inline-block;
    width: 100%;
}

#hero .informacion-contenedor{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: black;
    padding: 0 50px;
}

#hero .informacion-contenedor #foto-personal{
    width: 200px;
    height: 200px;
}

#hero .informacion-contenedor #foto-personal img{
    border-radius: 100%;
}
#hero .informacion-contenedor #foto-personal img:hover{
    cursor: pointer;
}

#hero .informacion-contenedor .informacion{
    margin-left: 24px;
    font-weight: bold;
    width: calc(100% - 200px);
    /* font-size: 40px; */
}

#hero .informacion-contenedor .informacion span{
    display: inline-block;
    color: rgb(56, 54, 54);
    margin-bottom: 70px;
}

/* Estilos del main */
main{
    padding: 100px;
}

main .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

main .social-icons li{
    margin-left: 32px;
}

main .social-icons li img{
    width: 50px;
    height: 50px;
}

main .social-icons .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
@media (max-width:640px){
    header ul{
        font-size: 12px;
    }
    #hero .informacion-contenedor{
        font-size: 12px;
    }
    main{
        font-size: 16px;
    }
    #hero .informacion-contenedor .informacion span{
        margin-bottom: 20px;
    }
    #hero .informacion-contenedor #foto-personal{
        width: 150px;
        height: 150px;
        margin-right: 52px;
    }
}